<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fact Generator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>521A11B51F94EC39003B51BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521A11CC1F94EC39003B51BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>521A11D71F94EC39003B51BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
